body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: coral;
    /* background-image: url(https://img.freepik.com/free-vector/abstract-geometric-pattern-background_1319-242.jpg?w=1800&t=st=1728897235~exp=1728897835~hmac=e9129419e06a16f3f3fbd345cfdd6955e6156fd9217c6e62b3324b34b40f194b); */
    /* background-image: url(https://picsum.photos/2000/3000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local; */
    /* background :url(https://picsum.photos/2000/3000) no-repeat center/cover fixed; */

    /* linear gradient */

    background: linear-gradient(to left,lightgreen, darkblue);

} 